#declarations {
}

.dataTable {
  thead {

    th {
      background-color: #ddd;
      border-left: 2px solid #eee;
      border-right: 2px solid #eee;

      input {
        padding: 2px;
        margin-top: 5px;
      }
    }
  }

  .FixedHeader_Cloned & {
    background-color: #eee;
    background-style: transparent;
  }

  .FixedHeader_Left & {
    td {
      background-color: #eee;
    }
  }

  .header {
    cursor: pointer;

    .column_label:after {
      content: "";
      float: right;
      margin-top: 7px;
      border-width: 0 4px 4px;
      border-style: solid;
      border-color: #000000 transparent;
      visibility: hidden;
    }

    &:hover .column_label:after {
      visibility: visible;
    }
  }

  .headerSortUp, .headerSortDown {
    background-color: #D9EDF7;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  }

  .headerSortDown, .headerSortDown:hover {
    .column_label:after {
      visibility: visible;
      filter: alpha(opacity=60);
      -moz-opacity: 0.6;
      opacity: 0.6;
    }
  }

  .headerSortUp {
    .column_label:after {
      border-bottom: none;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #000000;
      visibility: visible;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      filter: alpha(opacity=60);
      -moz-opacity: 0.6;
      opacity: 0.6;
    }
  }


}


