%p= "Sveicināti #{@resource.email}!"
%p Kāds ir veicis pieprasījumu nomainīt Jūsu paroli un Jūs to varat izdarīt uzklikšķinot uz pievienoto saiti:
%p= link_to 'Nomainīt manu paroli', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Ja Jūs neveicāt šo pieprasījumu, tad lūdzu ignorējiet šo e-pastu.
%p Jūsu parole netiks nomainīta, ja Jūs neuzklikšķināsiet uz šīs saistes un neievadīsiet jaunu paroli.
